.active-users__avatar {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin-right: 10px;
}
.chat__sidebar {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
}
.chat__active-user {
  display: flex;
  align-items: flex-start;
  align-content: center;
  flex-direction: row;
}
.chat__active-user > p {
  font-size: 20px;
}
