.add--newProject__button {
  background-color: rgba(13, 109, 253, 0.805) !important;
  box-shadow: 5px 5px 0px 0px rgba(67, 106, 247, 0.293);
  position: relative;
  top: 0;
  transition: top ease 0.5s;
}

.add--newProject__button:hover {
  background-color: rgba(33, 37, 41, 0.816);
  top: -3px;
}

.projects__header {
  margin: 15px 10px;
}

.project-list {
  flex: 1;
  padding: 16px;
}
/* .projects__table {
  border: 2px solid rgba(33, 37, 41, 0.816);
} */
.projects__table {
  border-collapse: collapse;
  /* width: 98% !important; */
  border-radius: 5px 5px 0 0;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.projects__table thead tr {
  background-color: #00987ab8;
  color: #ffffff;
  text-align: center;
}

.projects__table tbody tr:last-of-type {
  border-bottom: 2px solid #00987ab8;
}

.footer {
  display: flex;
  flex-shrink: 0;
}
