.project-list__link {
  color: rgb(43, 89, 175);
  font-family: "Lato";
  text-decoration: none;
  font-size: 22px;
  margin: 0 10px 0 5px;
  position: relative;
}
.project-list__link-table-head {
  text-align: left;
}
.project-list__link:before {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: rgba(33, 37, 41, 0.885);
  content: "";
  -webkit-transform: translateY(5px);
  opacity: 0;
  transition-property: -webkit-transform, opacity;
  transition-duration: 0.5s;
}

.project-list__link:hover:before {
  -webkit-transform: translateY(0);
  opacity: 1;
}
