.dnd-wrapper-container {
  margin-top: 20px;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.dnd-column {
  /* margin: 10px 10px 10px 10px; */
  width: 30%;
  margin: 10px 10px 10px 10px;
  padding: 10px 10px 10px 10px;
  text-align: center;
}

.btn-primary,
.btn-primary:active,
.btn-primary:visited {
  background-color: #4a878a !important;
  border: #4a878a !important;
}

.droppable-col {
  display: flex;
  width: 100%;
  height: 150px;
  background-color: rgb(234, 232, 232);
  padding: 15px;
  border-radius: 7px;
  flex-direction: column;
  height: fit-content;
  min-height: 200px;
}

.draggable-item {
  margin: 10px 10px 10px 10px;
  border: 2px solid rgb(237, 236, 236);
  border-radius: 7px;
  padding: 5px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.draggable-item:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 0px 0px #53a0a4;
}
.draggable-item.dragging {
  background-color: #6dccd1;
}

.draggable-item__inside {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.fa-solid.fa-trash-can {
  margin-left: 15px;
  margin-right: 5px;
}

.draggable-item__icons {
  /* display: none; */
  cursor: pointer;
  margin: 5px;
  align-self: center;
}

.fa-solid.fa-pen-to-square:hover {
  color: rgb(229, 190, 138);
}

.fa-solid.fa-trash-can:hover {
  color: rgba(255, 0, 0, 0.77);
}

.add-new-task__button {
  background-color: #4a878a;
  margin: 15px 5px 10px 10%;
  /* box-shadow: 5px 5px 0px 0px #7ed4d8; */
}

.add-new-task__button:hover {
  color: #6dccd1;
}

.chat__button {
  /* box-shadow: 5px 5px 0px 0px #7ed4d8; */
  margin: 15px 10px 10px 5px;
}

.chat__button:hover {
  color: #6dccd1;
}

.task-list__projectName {
  margin: 5px 5px 5px 5px;
  cursor: default;
  justify-content: space-between;
}

.task-list__dashboard {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 15px;
  padding-top: 15px;
}

.task-list__assigned-users__avatars {
  width: auto;
  height: 25px;
  line-height: 75px;
  margin: 5px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
  margin-left: 50px;
}

.task-list__assigned-users__avatars:hover {
  border: 5px solid #42b393;
}

.tab-content > .active {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.task-list__avatars-wrapper {
  border-radius: 25%;
  width: fit-content;
}

.task-list__project-users {
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

#task-list__dates {
  width: -webkit-fill-available;
  display: flex;
  justify-content: space-evenly;
}

#tasklist__buttons {
  display: flex;
  flex-direction: row;
  align-self: flex-end;
}

.tasklist_tabs {
  color: #4a878a;
}

.tasklist_tabs:hover {
  color: #42b393;
}

.draggable-item__task-avatar {
  margin: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid whitesmoke;
}

.draggable-item__text {
  margin: 5px;
  align-self: center;
}

.dashboard_info {
  margin: 10px 40px 10px 40px;
  padding: 10px 10px 10px 10px;
  background-color: rgb(234, 232, 232);
  border-radius: 7px;
}
