.dnd-wrapper-container {
  margin-top: 50px;
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.dnd-column {
  width: 30%;
}

.droppable-col {
  width: 100%;
  height: 150px;
  background-color: rgb(230, 230, 230);
  padding: 10px 10px 10px 10px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  height: fit-content;
  min-height: 200px;
}

.draggable-item {
  margin: 10px 10px 10px 10px;
  border: 2px solid rgb(237, 236, 236);
  border-radius: 7px;
  padding: 5px;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
}

.draggable-item:hover {
  background-color: rgb(255, 255, 255);
  box-shadow: 5px 5px 0px 0px rgb(62, 172, 191);
}
.draggable-item.dragging {
  background-color: rgb(137, 228, 255);
}

.draggable-item__inside {
  display: flex;
  justify-content: space-between;
}

.fa-solid.fa-trash-can {
  margin-left: 15px;
  margin-right: 5px;
}

.draggable-item__icons {
  /* display: none; */
  cursor: pointer;
}

.fa-solid.fa-pen-to-square:hover {
  color: burlywood;
}

.fa-solid.fa-trash-can:hover {
  color: rgba(255, 0, 0, 0.77);
}

.add-new-task__button {
  background-color: rgb(137, 228, 255);
  margin: 15px 10px 10px 40%;
  box-shadow: 5px 5px 0px 0px rgba(67, 106, 247, 0.293);
}

.chat__button {
  box-shadow: 5px 5px 0px 0px rgba(67, 106, 247, 0.293);
}

.task-list__projectName {
  text-align: center;
  margin: 5px 5px 5px 5px;
  /* border-top: 2px solid cornflowerblue;
  border-bottom: 2px solid cornflowerblue; */
  /* padding: 15px; */
  cursor: default;
  /* box-shadow: 5px 5px 0px 0px rgba(67, 106, 247, 0.293); */
}

.task-list__dashboard {
  text-align: center;
  margin-top: 15px;
  padding: 15px;
}

.task-list__assigned-users__avatars {
  width: 50px;
  height: 50px;
  line-height: 75px;
  margin: 10px 10px;
  text-align: center;
  cursor: pointer;
  border-radius: 50%;
}

.task-list__assigned-users__avatars:hover {
  border: 5px solid #00aced;
}

.task-list__avatars-wrapper {
  border-radius: 25%;
  width: fit-content;
}

.task-list__project-users {
  margin-left: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.draggable-item__task-avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid whitesmoke;
}
